<h1>Burgers</h1>

<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      <li>
        {{name}}

        <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{name}}

        <form action="/" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">WAKE UP!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>


<form action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name: </label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Devour It</button>
</form>

<h2>Add a burger</h2>